<div>
   <h4 class="content__centerText">Nieuwe categorie</h4>

   <form class="content__centerContent">
     <div class="form-group content__centerContent">
       <input type="text" class="form-control content__create-input" placeholder="Naam*" ng-model="categorieNaam">
     </div>
   </form>

   <div class="content__centerText">
     <button class="btn btn-default content__voegToe-button" ng-click="cancelModal()">Annuleer</button>
     <button class="btn content__generalButtonSettings content__voegToe-button" ng-click="ok()">Opslaan</button>
   </div>
 </div>
