<div>
   <h4 class="content__centerText">Nieuwe challenge</h4>

   <form class="content__centerContent">
     <div class="form-group content__centerContent">
       <input type="text" class="form-control content__create-input" placeholder="Titel*" ng-model="titel">
     </div>
     <h5 class="content__taskForm content__centerSubtitle">Geef een omschrijving aan deze challenge.</h5>
     <textarea class="content__inputArea" placeholder="Omschrijving..." ng-model="omshrijving"></textarea>


     <h5 class="content__taskForm content__centerSubtitle">De reward(s) voor het voltooien van deze challenge.</h5>
     <textarea class="content__inputArea" placeholder="Omschrijving..." ng-model="reward"></textarea>
   <div class="content__centerText">
     <button class="btn btn-default content__voegToe-button" ng-click="cancelModal()">Annuleer</button>
     <button class="btn content__generalButtonSettings content__voegToe-button" ng-click="ok()">Opslaan</button>
   </div>
 </div>
