<div>
   <h4 class="content__centerText">Nieuw Gerecht</h4>

   <form class="content__centerContent">
     <div class="form-group content__centerContent">
       <input type="text" class="form-control content__create-input" placeholder="Naam*" ng-model="gerechtNaam">
     </div>
     <md-input-container class="content__create-dropdown">
            <label ng-show="!selectedCategorie">Selecteer de categorie voor dit gerecht*</label>
            <md-select ng-model="selectedCategorie">
                <md-option ng-repeat="categorie in categorieen" ng-value="categorie">
                    {{categorie.naam}}
                </md-option>
            </md-select>
     </md-input-container>
     <br />
     <h5 class="content__taskForm content__centerSubtitle">Selecteer de allergenen die dit gerecht bevat:</h5>
     <div class="allergenen content__checkboxes">
            <label ng-repeat="allergeen in allergenen" class="content__checkbox">
            <input
                type="checkbox"
                name="selectedAllergenen[]"
                value="allergeen"
                ng-model="allergeen.selected"
                >
               <span>{{allergeen.naam}}</span>
            </label>
        </div>
   </form>
   <br />
   <br />
   <div class="content__centerText">
     <button class="btn btn-default content__voegToe-button" ng-click="cancelModal()">Annuleer</button>
     <button class="btn content__generalButtonSettings content__voegToe-button" ng-click="ok()">Opslaan</button>
   </div>
 </div>
