 <div ng-controller="menuController">
    <h2 class="modal-title">Angular Modal Window Example </h2>
    <button ng-click="cancelModal()">Close Modal</button>

    <md-datepicker ng-model="menuItemDatum" md-placeholder="Datum" class="menuItem__dropdownMargin"></md-datepicker>

    <md-select ng-model="filterCategorie" class="menuItem__dropdown">
        <md-option ng-value="categorie.naam" ng-repeat="categorie in categorieen">{{categorie.naam}}</md-option>
    </md-select>


    <md-input-container>
        <label>Kies gerecht</label>
        <md-select ng-model="selectedGerecht">
            <!--filter op geselecteerde categorie-->
            <md-option ng-value="gerecht" ng-repeat="gerecht in gerechten | filter:filterGerechten">{{gerecht.naam}}</md-option>
        </md-select>
    </md-input-container>
 </div>
