<div class="container">
    <h4 class="menuItem__taskForm">Voeg een allergeen toe aan de databank</h4>
    <form ng-submit="createAllergeen()">
        <input class="form-control menuItem__create-input" placeholder="Naam" ng-model="allergeenNaam" />
        <br>
        <button class="btn btn-success menuItem__voegToe-button">Voeg Allergeen Toe</button>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Naam</th>
            <th>Acties</th>
        </tr>
        <tr ng-repeat="allergeen in allergenen">
            <td>
                {{allergeen.naam}}
            </td>
            <td>
                <button class="btn btn-default" ng-click="deleteAllergeen(allergeen)"><img ng-src="{{imgDelete}}"/></button>
            </td>
        </tr>
    </table>
</div>
