
    <table class="table table-striped">
        <tr>
          <th>Datum</th>
          <th>Klant</th>
          <th>Gerecht(en)</th>
          <th>Acties</th>
        </tr>
        <tr ng-repeat="bestelling in bestellingen">
            <td>
                {{bestelling.datum | date:'dd MMM yyyy'}}
            </td>
            <td>
              {{bestelling.gebruiker}}
            </td>
            <td>
              <button class="btn btn-default " ng-show="!isCollapsed" ng-click="isCollapsed = !isCollapsed ">+</button>
              <button class="btn btn-default " ng-show="isCollapsed" ng-click="isCollapsed = !isCollapsed ">-</button>
                <div uib-collapse="!isCollapsed" ng-repeat="gerecht in bestelling.gerechten">
                    <div>
                        <hr>{{gerecht.naam}}
                    </div>
                </div>
            </td>
            <td>
                <button class="btn btn-default" ng-click="deleteBestelling(bestelling)"><img ng-src="{{imgDelete}}"/></button>
            </td>
        </tr>
    </table>
