<div class="container">
  <h4 class="content__centerText">Categorieën voor gerechten</h4>
  <button class="btn content__generalButtonSettings" ng-click="openAddCategorieModal()">Voeg een categorie toe</button>
    <table class="table table-striped">
        <tr>
            <th>Naam</th>
            <th>Acties</th>
        </tr>
        <tr ng-repeat="categorie in categorieen">
            <td>
                {{categorie.naam}}
            </td>
            <td>
                <button class="btn btn-default" ng-click="deleteCategorie(categorie)"><img ng-src="{{imgDelete}}"/></button>
            </td>
        </tr>
    </table>
</div>
