<div class="container">
    <h4 class="content__centerText">Gerechten</h4>
    <button class="btn content__generalButtonSettings" ng-click="openAddGerechtModal()">Voeg een gerecht toe</button>
    <table class="table table-striped">
  <!--Rij met filters-->
    <tr class="menuItem__filterCategorie">
    <td>
        <!--FILTER CATEGORIE-->
        <md-input-container class="menuItem__filterAndEraseFilter">
            <label>Filter categorie</label>
            <md-select ng-model="filterCategorie">
                <!--ng-value categorie en NIET categorie.naam, we willen het object en niet enkel de String naam van het object anders kunnen we het niet opslaan in ons gerecht (in factory create)-->
                <md-option ng-repeat="categorie in categorieen" ng-value="categorie.naam">
                    {{categorie.naam}}
                </md-option>
            </md-select>
        </md-input-container>
        <img src="{{clearFilter}}" ng-click="eraseFilter()" class="actionIcons" />
        </td>
        <!--FILTER NAAM-->
        <td>
          <md-input-container class="menuItem__filterAndEraseFilter">
            <label>Filter naam</label>
            <md-select ng-model="filterNaam">
                  <md-option ng-repeat="gerecht in gerechten" ng-value="gerecht.naam">
                    {{gerecht.naam}}
                </md-option>
            </md-select>
        </md-input-container>
        <img src="{{clearFilter}}" ng-click="eraseFilter()" class="actionIcons" />
      </td>
        <td></td>
        <td></td>
        </tr>
        <tr>
            <th>Categorie</th>
            <th>Naam</th>
            <th>Allergenen</th>
            <th>Acties</th>
        </tr>
        <!--Filterbaar-->
        <tr ng-repeat="gerecht in gerechten | orderBy:'categorie.naam' | filter:filterGerechten">
             <td>
                <span>{{gerecht.categorie.naam}}</span>
            </td>
            <td>
                <span>{{gerecht.naam}}</span>
            </td>
            <td>
                <div>
                    <button class="btn btn-default " ng-show="!isCollapsed" ng-click="isCollapsed = !isCollapsed ">+</button>
                    <button class="btn btn-default " ng-show="isCollapsed" ng-click="isCollapsed = !isCollapsed ">-</button>
                    <div uib-collapse="!isCollapsed " ng-repeat="allergeen in gerecht.allergenen ">
                        <div>
                            <hr>{{allergeen.naam}}
                            <br>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <button class="btn btn-default" ng-click="openRestaurantDetailModal(restaurant)"><img ng-src="{{imgDetail}}"/></button>
                <button class="btn btn-default " ng-click="deleteGerecht(gerecht) "><img ng-src="{{imgDelete}}"/></button>
            </td>
        </tr>
    </table>
</div>
