<!DOCTYPE html>
<div class="container">
    <div class="login__form">
        <h2 class="login__title">Login</h2>
          <div class="form-group">
              <input class="form-control login__input" type="text" placeholder="Naam" ng-model="user.name">
              <input class="form-control login__input" type="password" placeholder="Wachtwoord" ng-model="user.password">
          </div>
                  <div class="content__errorMessage" ng-if="noAdminMessage == true">U beschikt niet over admin rechten</div>
                  <div class="content__errorMessage" ng-if="userNotFoundMessage == true">Deze gebruiker bestaat niet</div>
                  <div class="content__errorMessage" ng-if="wrongPasswordMessage == true">U gaf een onjuist wachtwoord op</div>
          <button class="btn content__generalButtonSettings login__button" ng-click="login()">Login</button>
    </div>
</div>
