<div class="container">
    <h4 class="menuItem__taskForm">Voeg een gerecht toe aan het menu</h4>
    <form ng-submit="createMenuItem()" class="menuItem__dropdown">
        <div class="menuItem__dropdownMenu">
            <md-datepicker ng-model="menuItemDatum" md-placeholder="Datum" class="menuItem__dropdownMargin"></md-datepicker>
            <img src="{{arrow}}" class="menuItem__arrow" />
            <md-input-container>
                <label>Filter gerechten op categorie</label>
                <md-select ng-model="filterCategorie" class="menuItem__dropdown">
                    <md-option ng-value="categorie.naam" ng-repeat="categorie in categorieen">{{categorie.naam}}</md-option>
                </md-select>
            </md-input-container>
            <img src="{{arrow}}" class="menuItem__arrow" />
            <md-input-container>
                <label>Kies gerecht</label>
                <md-select ng-model="selectedGerecht">
                    <!--filter op geselecteerde categorie-->
                    <md-option ng-value="gerecht" ng-repeat="gerecht in gerechten | filter:filterGerechten">{{gerecht.naam}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <button class="btn btn-success menuItem__voegToe-button">Voeg Gerecht Toe Aan Menu</button>
    </form>
    <table class="table table-striped">
    <!--Rij met de filters-->
        <tr class="menuItem__filterDatum">
        <td>
            <md-datepicker ng-model="filterDatum" md-placeholder="Filter Datum" class="menuItem__dropdownFilter"></md-datepicker>
            <img src="{{clearFilter}}" ng-click="eraseFilter()" class="actionIcons" />
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <th>Datum</th>
        <th>Categorie</th>
         <th>Gerecht</th>
         <th>Allergenen</th>
         <th>Prijs</th>
        <th>Acties</th>
        </tr>
        <!--Gesorteerd op datum-->
        <!--Filter op datum wanneer datum opgegeven werd met de datepicker-->
        <tr ng-repeat="menuItem in menu | orderBy:'datum' | filter:filterMenu">
            <td>
                {{menuItem.datum | date:'dd MMM yyyy'}}
            </td>
            <td>
                <span>{{menuItem.gerecht.categorie.naam}}</span>
            </td>
            <td>
                <span>{{menuItem.gerecht.naam}}</span>
            </td>
            <td>
              <button class="btn btn-default " ng-show="!isCollapsed" ng-click="isCollapsed = !isCollapsed ">+</button>
              <button class="btn btn-default " ng-show="isCollapsed" ng-click="isCollapsed = !isCollapsed ">-</button>
                <div uib-collapse="!isCollapsed" ng-repeat="allergeen in menuItem.gerecht.allergenen">
                    <div>
                        <hr>{{allergeen.naam}}
                    </div>
                </div>
            </td>
            <td>
                <span>{{ menuItem.gerecht.prijs | currency:"€ " : 2}}</span>
            </td>
            <td>
                <button class="btn btn-default" ng-click="deleteMenuItem(menuItem)"><img ng-src="{{imgDelete}}"/></button>
            </td>
        </tr>
    </table>
</div>
